
/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 0;
        border: none;
    }
    header {
        text-align:  center;
    }
    header img {
        float: none;
        margin-bottom: 0.7em;
    }
    header h2 {
        font-size: 1.62em;
    }
    header h3 {
        font-size: 1em;
    }
    #nav_menu {
        display: none;
    }
    #mobile-menu {
        display: block;
    }
    .slicknav_menu {
        background-color: #e9deaf !important;
    }
    nav ul li {
        background-color: #e9deaf;
    }
    aside {
        float: none;
        width: 100%;
        margin-top: 0.5em;
    }
    section {
        width: 100%;
        padding: 0;
    }
    footer {
        margin: 20px 0 5px;
    }
    footer p {
        float: none;
        text-align: center;
    }
}