*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
}

#main {
    width: 650px;
    border: 1px solid #000;
    height: auto;
    box-shadow: 5px 5px 7px #333;
    margin: auto;
    padding: 10px;
}
/* header */
header > img {
    height: 80px;
}
header > h2 {
    font-size: 22px;
    padding: 10px 0;
}
header > h3 {
    font-size: 17px;
    padding: 10px 0;
    /* position: relative; */
}
/* section */
.section-heading {
    padding: 10px 0;
    font-size: 20px;
}
section p {
    font-size: 12px;
}
.content {
    padding: 10px 20px;
}
section > ul {
    padding: 10px 0;
}
.list-item {
    margin-left: 40px;
}
section > h1 {
    font-size: 25px;
    padding: 10px 0;
}
.img {
    padding: 20px 0;
}
section > h2 {
    font-size: 18px;
}
.item-link {
    color: blue;
}