/* So the HTML5 structural tags work in older browsers */
article, aside, figure, footer, header, nav, section {
    display: block;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
}

/* the styles for the header */
header img {
	float: left;
	clear: left;
	
}

/* the styles for the section */
section {
	clear: left;
}

/* the styles for the footer */
header h1{
	text-align: center;
	color:brown;
}
header h2{
	text-align: left;
	text-indent: 65px;
}

header{
	width: 600;
	height: 100px;
	background-color: aqua;
    padding-top: 0cm;
}
body{
	width: 600px;
	background-color:#fffdef;
	border-style: solid;
	border-color: brown;
	margin: 0cm auto;
}
footer{
	width: 600px;
	height: 50px;
	background-color:brown ;


}
footer p{
	font-family: 'Times New Roman', Times, serif;
	color: white;
	text-align: center;
	padding-top: 25px;
	
}
section h1{
	font-family: 'Times New Roman', Times, serif;
	color: brown;
	text-indent: 1.7em;
}
*{
	margin: 0cm;
}
li{
	margin-left: 15px;
}
blockquote{
	padding-right: 30px;
	
}
