
html{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
/* header */
header > img {
    height: 80px;
    float: left;
    margin-right: 30px;
}
header > h2 {
    font-size: 170%;
    color: #800000;
    text-indent: 30px;
}
header > h3 {
    font-size: 130%;
    text-indent: 30px;
    font-style: italic;
}
.shadow {
    text-shadow: 2px 2px 3px #800000;
}
/* section */
.section-heading {
    font-size: 20px;
    color: #800000;
}
section > ul{
    padding: 0;
}
.list-item {
    margin-left: 40px;
}
section > h1 {
    font-size: 150%;
}
section > h2 {
    font-size: 130%;
}
section > h3 {
    font-size: 105%;
}
h2 > a:hover {
    font-style: italic;
}
.item-link {
    color: blue;
}
/* footer */
footer {
    text-align: center;
}