html {
  background-color: white;
}
body {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #931420;
  background-color: #fffded;
}
#logo {
  padding-right: 30px;
  float: left;
}
img {
  padding-left: 30px;
  padding-bottom: 1em;
  height: 80;
}
header {
  padding-top: 1px;
  background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
  border-bottom: 3px solid #931420;
  padding-top: 1.5ems;
  padding-bottom: ems;
}
header h2 {
  font-size: 170%;
  color: #800000;
}
header h3 {
  font-size: 130%;
  font-style: italic;
}
main {
  padding-left: 30px;
  padding-right: 30px;
}

main h1 {
  /* padding-top: 0.3em;
  padding-bottom: 0.3em; */
  font-size: 150%;
  border: #800000;
  border-style: double ;
  border-radius: 5px ;
  box-shadow: 7px 6px 0px -2px black;
}
main h2 {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  font-size: 130%;
  color: #800000;
}
main h3 {
  padding-bottom: 0.25em;
  font-size: 150%;
}
main p {
  padding-bottom: 0.5em;
}
main blockquote {
  padding-left: 2em;
  padding-right: 2em;
  font-style: italic;
}
main a:hover {
  color: chartreuse;
}
footer {
  clear: both;
  text-align: center;
  background-color: #800000;
}

h3 > sup {
  text-shadow: 2px 2px #800000;
}

main ul {
  padding-bottom: 0.25em;
  padding-left: 1.25em;
}
main ul li {
  padding-bottom: 0.35em;
}
footer p {
    padding-top: 1em;
    padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

