* {
    margin: 0;
    padding: 0;
}
html {
    background-image: -moz-linear-gradient(top, white 0%, #facd8a 100%);
    background-image: -webkit-linear-gradient(top, white 0%, #facd8a 100%);
    background-image: -o-linear-gradient(top, white 0%, #facd8a 100%);
    background-image: linear-gradient(top, white 0%, #facd8a 100%);
    background-repeat: no-repeat;
}
header {
    border-bottom: 2px solid #facd8a;
}
header img {
float: left;
}
body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 992px;
    border: 1px solid #000; 
    border-radius: 25px;
    padding: 15px 25px;
    margin: 15px auto;
    box-shadow: 0px 0px 10px 2px black;
    box-sizing: border-box;
}

header h1 {
color: orange;
font-size: 250%;
text-shadow: 2px 2px 2px black;
text-align: center;
margin: 0 0 0.25em;
}

header h2 {
color: green;
font-size: 150%;
text-align: center;
margin: 0 0 0.25em;
font-style: italic;
}
/* aside */
aside {
    float: right;
    width: 40%;
    padding-left: 25px;
    box-sizing: border-box;
}
aside h2 {
    padding-top: 28px;
    font-size: 130%;
    margin-bottom: 12px;
}
aside h3 {
    font-size: 14px;
    color: green;
}
aside p {
    margin-bottom: 5px;
}
/* section */
section {
    box-sizing: border-box;
    padding-right: 25px;
    border-right: 2px solid #facd8a;
    width: 60%;
}
section h1 {
    font-size: 200%;
    margin-top: 28px;
    margin-bottom: 7px;
}
section h2 {
    margin-bottom: 6px;
}
a {
    color: green;
    font-weight: bold;
}
a:hover {
    color: blue;
}
.current {
    color: gray !important;
}
section ul {
    padding-left: 20px;
    margin-bottom: 24px;
}
li {
    margin-bottom: 5px;
    padding-left: 3px;
}
p {
    padding: 4px 0;
}
.indent {
    text-indent: 30px;
}
/* footer */
footer {
    margin-top: 1.5em;
    padding-top: 5px;
    border-top: 2px solid #facd8a;
    margin-bottom: 1.5em;
}
footer p {
    font-size: 80%;
    float: right;
}