* {
margin: 0;
padding: 0;
}
html {
background-color: white;
}
body {
font-family: Arial, Helvetica, sans-serif;
font-size: 100%;
width: 800px;
margin: 0 auto;
border: 3px solid #931420;
background-color: #fffded;
}

a:hover,
a:focus {
font-style: italic;
}

p {
padding-bottom: 0.5em;
}

h1 {
font-size: 150%;
padding-top: 0.5em;
padding-bottom: 0.25em;
margin: 0;
}
/* header */
header {
border-bottom: 3px solid #931420;
padding-top: 1.5em;
padding-bottom: 2em;
background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
background-image: -moz-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
background-image: -o-linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
float: left;
padding-right: 30px;
padding-left: 30px;
padding-bottom: 1em;
}

header h2 {
font-size: 170%;
color: #800000;
}

header h3 {
font-size: 130%;
font-style: italic;
}

.shadow {
text-shadow: 2px -2px 2px #800000;
}
/* main */
main {
clear: left;
padding-bottom: 15px;
}

main section {
width: 525px;
float: right;
padding: 0 20px 20px;
}
#nav-menu {
    background-color: #800000;
    height: 40px;
}
.current {
    color: yellow !important;
}
#nav-menu > ul > li {
    padding: 0;
    list-style: none;
    width: calc(100% / 5);
    position: relative;
}
#nav-menu .menu-item {
    float: left;
    text-align: center;
}
.menu-item a{
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
#sub-nav {
    display: none;
    position: absolute;
}
#sub-nav > li {
    background-color: #800000;
    list-style: none;
    width: 100%;
}
#nav-menu li:hover #sub-nav {
    display: block;
}
main section h2 {
font-size: 130%;
color: #800000;
padding: 0.5em 0 0.25em;
}

main section h3 {
font-size: 105%;
padding-bottom: 0.25em;
}

main section article {
padding: 0.5em 0;
border-top: 2px solid #800000;
border-bottom: 2px solid #800000;
}

main section article img {
float: right;
margin: 1em 0 1em 1em;
border: 1px solid black;
}

main section article h2 {
padding-top: 0;
}

main section article h3 {
font-size: 105%;
padding-bottom: 0.25em;
}

main aside {
width: 215px;
float: right;
padding-left: 20px;
padding-bottom: 20px;
}

main aside h2 {
font-size: 130%;
color: #800000;
padding: 0.5em 0 0.25em;
}

main aside h3 {
font-size: 105%;
padding-bottom: 0.25em;
}

main aside img {
padding-bottom: 1em;
}

main blockquote {
padding: 0 2em;
font-style: italic;
}
/* footer */
footer {
clear: both;
border-top: 3px solid #931420;
background-color: #931420;
color: white;
}
footer p {
text-align: center;
padding: 1em 0;
}